<h1>hello</h1>

<h1>Hello Welcome to Bustle Clone</h1>

<ul>

  {{#each model as |articleInModel|}}
  {{article-image currentArticle=articleInModel destroyArticle="destroyArticleFromIndex"}}
  {{/each}}
</ul>
