

<div class="row">
  <div class="col-sm-2">
    <h3>BUSTLE</h3>
  </div>
  <div class="col-sm-8">
    <ul>
      <li>NEWS</li>
      <li>ENTTERTAINMENT</li>
      <li>FASHION & BEAUTY</li>
      <li>LIFESTYLE</li>
      <li>BOOKS</li>
      <li>EXPLORE</li>
      <li>ABOUT</li>
    </ul>
  </div>
  <div class="col-sm-2">
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </div>
</div>




<div class="">

  {{#each model as |articleInModel|}}
  {{article-image currentArticle=articleInModel destroyArticle="destroyArticleFromIndex"}}
  {{/each}}
</div>
